<div class="quick-view-products {{ block.settings.position_quick_view_products}}">
    <div class="products-container">
        <div class="products">
            <div class="products-title"><a class="close-view-products" href="#"><span class="icon"><i class="bx bx-x close"></i></span></a><span class="title">View Products</span></div>
        </div>
    </div>
    <a href="{{ block.settings.quick_view_products }}" data-number="{{ block.settings.number_view_product }}" class="view-products"><span class="icon"><i class="bx bx-shopping-bag"></i></span><span class="txt">{{ block.settings.button_quick_view_products }}</span></a>
</div>