              
<div id="size-guide" class="overlay">
	<div class="popup"> 
		<span class="close">&times;</span>
		<div class="content">
			<div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="6141FB428392C" data-decoded="true">
              <table style="border: 1px solid #e0e0e0; width: 330px; height: 274px; margin: 40px auto;" border="1" frame="border" cellpadding="5" align="center">
                <tbody>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;"><strong>UK</strong></td>
                  <td style="text-align: center; width: 31px; height: 22px;"><strong>EU</strong></td>
                  <td style="text-align: center; width: 50px; height: 22px;"><strong>USA</strong></td>
                  <td style="text-align: center; width: 127px; height: 22px;"><strong>Foot Length</strong></td>
                </tr>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;">5</td>
                  <td style="text-align: center; width: 31px; height: 22px;">39</td>
                  <td style="text-align: center; width: 50px; height: 22px;">6</td>
                  <td style="text-align: center; width: 127px; height: 22px;">246mm</td>
                </tr>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;">6</td>
                  <td style="text-align: center; width: 31px; height: 22px;">40</td>
                  <td style="text-align: center; width: 50px; height: 22px;">7</td>
                  <td style="text-align: center; width: 127px; height: 22px;">250mm</td>
                </tr>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;">7</td>
                  <td style="text-align: center; width: 31px; height: 22px;">41</td>
                  <td style="text-align: center; width: 50px; height: 22px;">8</td>
                  <td style="text-align: center; width: 127px; height: 22px;">254mm</td>
                </tr>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;">8</td>
                  <td style="text-align: center; width: 31px; height: 22px;">42</td>
                  <td style="text-align: center; width: 50px; height: 22px;">9</td>
                  <td style="text-align: center; width: 127px; height: 22px;">263mm</td>
                </tr>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;">9</td>
                  <td style="text-align: center; width: 31px; height: 22px;">43</td>
                  <td style="text-align: center; width: 50px; height: 22px;">10</td>
                  <td style="text-align: center; width: 127px; height: 22px;">272mm</td>
                </tr>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;">10</td>
                  <td style="text-align: center; width: 31px; height: 22px;">44</td>
                  <td style="text-align: center; width: 50px; height: 22px;">11</td>
                  <td style="text-align: center; width: 127px; height: 22px;">276mm</td>
                </tr>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;">11</td>
                  <td style="text-align: center; width: 31px; height: 22px;">45</td>
                  <td style="text-align: center; width: 50px; height: 22px;">12</td>
                  <td style="text-align: center; width: 127px; height: 22px;">280mm</td>
                </tr>
                <tr style="height: 22px;">
                  <td style="text-align: center; width: 34px; height: 22px;">12</td>
                  <td style="text-align: center; width: 31px; height: 22px;">46</td>
                  <td style="text-align: center; width: 50px; height: 22px;">13</td>
                  <td style="text-align: center; width: 127px; height: 22px;">289mm</td>
                </tr>
                </tbody>
                </table>
                <span class="gray-line"></span>
                <p style="font-size: 14px;">
                  <strong> Width Standard footwear width is F+</strong>
                </p>
                <p style="font-size: 12px; max-width: 630px; margin: 0 auto;">Please note: this is a rough size guide and sizes may vary depending on the style, shape and manufacturing of each product. The sizes are measured from the inner sole and we recommend that you measure the length of your foot without shoes on, for a more accurate reading.</p>
            </div>
		</div>
	</div>
</div>