<div class="not-found-page">
    <div class="wrapper">
        <div class="page-title">
            <p>Page Not Found</p>
            <h1 class="h4">Error 404</h1>
            <div class="buttons">
                <a class="button" href="/">Homepage</a>
            </div>
        </div>
    </div>
</div>
{% include 'gtm-404' %}