<div class="store-locator-page">
    <div class="wrapper">
        <div class="page-title">
            <h1>Stores</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem tortor, euismod id accumsan sit amet, lobortis sit amet sapien. Praesent est velit, euismod ut mattis a, dapibus lobortis diam. </p>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Store Locator",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}